body {
    background-image: linear-gradient(rgba(73, 133, 235, 0.5), rgba(148, 0, 175, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Zen Dots";
}

.title {
    font-family: Handlee;
    text-align: center;
}

#game {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

table {
    border-spacing: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#score, #lives, #level {
    display: inline-block;
    margin: 0 10px;
}

/* show the pause menu on top of the canvas */
#pauseMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#pauseMenu {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;

    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    
    /* disable scrolling */
    overflow: hidden;
}

#pauseMenu button {
    margin: 10px;
}

#pauseMenu button:hover {
    background-color: rgb(136, 255, 0);
}

#pauseMenu button:active {
    background-color: rgb(255, 0, 0);
}

#pauseMenu > button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#pauseMenu > button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#pauseMenu > button:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.notAvailableOnPhone {
    display: none;
    text-align: center;
    font-size: 2rem;
    font-family: Handlee;
}

@media screen and (max-width: 850px) {
    #game, table, .title, button {
        display: none;
    }
    .notAvailableOnPhone {
        display: block;
    }
}