body {
    background-image: linear-gradient(rgba(73, 133, 235, 0.5), rgba(148, 0, 175, 0.5));
    font-family: "Zen Dots";
}

.title {
    font-family: Handlee;
    text-align: center;
}

#game {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

table {
    border-spacing: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    z-index: 1;
    background-color: greenyellow;
}

#score, #lives {
    display: inline-block;
    margin: 0 10px;
}

/* make the #map in the bottom of the .game div */
#map {
    position: absolute;
    bottom: 4px;
    left: 6px;
    right: 4px;
    width: 98%;
    height: 90%;
    z-index: 0;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}

.notAvailableOnPhone {
    display: none;
    text-align: center;
    font-size: 2rem;
    font-family: Handlee;
}

@media screen and (max-width: 850px) {
    #game, table, .title, button {
        display: none;
    }
    .notAvailableOnPhone {
        display: block;
    }
}